.loginTitle {
  text-transform: uppercase;
  color: white;
  width: 115px;
  height: 29px;
  font-size: 26px;
  font-family: 'Gibson', 'SemiBold';
  margin-left: auto;
  margin-right: auto;
}

.login-form-forgot {
  float: right;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
  color: white;
}

#components-form-demo-normal-login .login-form-button {
width: 100%;
}


.login-form-button {
  background-color: #FFFFFF;
  width: 100%;
  height: 55.2px;
  text-transform: uppercase;
  color: #C03BAD;
  text-shadow: #000000 17%;
  font-family: 'Gibson', 'SemiBold';
  border-radius: 14px 14px 14px 14px;
  display: block;
}

 .registration {
  color: white;
  text-align: center;
}
 a {
  color: white;
}

 .ant-input{
    background: transparent;
    width: 100%;
    height: 59px;
    border-width: 1.5px;
    border-radius: 11px 11px 11px 11px;
}

  input[type=password] {
    text-emphasis: bold;
 }

  i {
    color: white;
  }

  .ant-btn-primary {
    border-color: white;
  }

  .ant-form label {
    color: white;
  }




.ant-btn:before {
   color: transparent;
}

.ant-checkbox-input {
   color: transparent;
}

body > #root > .form  {
  background: linear-gradient(119deg,#F82279, #934CDB);
  height: 100vh;
}



